{{ $page := .wcPage }}
{{ $block := .wcBlock }}
{{ $title := $block.content.title | emojify | $page.RenderString }}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<div class="flex flex-col items-center max-w-prose mx-auto gap-3 justify-center px-6">
  <div class="mb-6 text-3xl font-bold text-gray-900 dark:text-white">
      {{ $title }}
  </div>
  <div class="mt-16 sm:mt-20 container max-w-3xl w-full">
    <div class="flex flex-col space-y-3">
      <div class="text-xl font-bold">EKAW '24</div>
      <div class="font-bold flex">
        <div class="mr-4">
          {{ partial "functions/get_icon" (dict "name" "calendar" "attributes" "style=\"height: 1em\" class='inline-block'") }}
          November 27, 2024
        </div>
        <div>
          {{ partial "functions/get_icon" (dict "name" "map-pin" "attributes" "style=\"height: 1em\" class='inline-block'") }}
          Amsterdam, Netherlands
        </div>
      </div>
      <div class="text-gray-700 dark:text-gray-400 mt-1">Additive Counterfactuals for Explaining Link Predictions on Knowledge Graphs</div>
    </div>
  </div>
  <div class="mt-16 sm:mt-20 container max-w-3xl w-full">
    <div class="flex flex-col space-y-3">
      <div class="text-xl font-bold">ESWC '24</div>
      <div class="font-bold flex">
        <div class="mr-4">
          {{ partial "functions/get_icon" (dict "name" "calendar" "attributes" "style=\"height: 1em\" class='inline-block'") }} 
          May 30, 2024
        </div>
        <div>
          {{ partial "functions/get_icon" (dict "name" "map-pin" "attributes" "style=\"height: 1em\" class='inline-block'") }}
          Herssonissos, Crete, Greece
        </div>
      </div>
      <div class="text-gray-700 dark:text-gray-400 mt-1">Explanation of Link Predictions on Knowledge Graphs via Levelwise Filtering and Graph Summarization</div>
    </div>
  </div>
</div>
